<header class="header">
  <dap-ds-stack direction="row">
    <dap-ds-button shape="circle" id="open-menu">
      <dap-ds-icon name="menu-line"></dap-ds-icon>
    </dap-ds-button>
    <p class="header__title">DAP - Angular demo</p>
  </dap-ds-stack>

  <dap-ds-stack direction="row">
    <a class="header__nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Components</a>
    <a class="header__nav-link" routerLink="form" routerLinkActive="active" ariaCurrentWhenActive="page">Form</a>
    <app-theme-selector></app-theme-selector>
  </dap-ds-stack>
</header>

<div class="app content">
  <router-outlet></router-outlet>
</div>

<dap-ds-tray id="menu" placement="left">
  <p>Menü</p>

  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">DAP Components</a></li>
      <li><a routerLink="form" routerLinkActive="active" ariaCurrentWhenActive="page">DAP Form</a></li>
    </ul>
  </nav>

  <dap-ds-accordion-group class="collapsed-clean-group">
    <dap-ds-accordion class="clean-item collapsed-clean-item">
      <span slot="heading">Komponensek</span>
      <dap-ds-stack direction="row">
        <dap-ds-link href="#accordion">Accordion</dap-ds-link>
      </dap-ds-stack>
    </dap-ds-accordion>
  </dap-ds-accordion-group>
</dap-ds-tray>